$white: #fff;
$black: #000;
$blue: #283CBB;
$black55: #555555;
$black64: #646464;
$black18: #181818;
$dark-blue: #163268;
$grey: #EFEFEF;
$black2c: #2C2C2C;
$greyED:#EDEDED;
$btn-bg: linear-gradient(to right, #e68b45 0%, #d24781 50%, #d24781 100%);
$btn-bg-reverse: linear-gradient(to right, #d24781 0%, #e68b45 50%, #e68b45 100%);
$darker-blue: #0D182E;